<center>
  <h1>confirm your selection</h1>
  <section class="confirmed-section">
    <ul>
      <li id="found-repo"><p><%= songify_cart.repo %></p> <%= button_to 'change repo', '/repos', method: :get, class: 'select-btn'  %></li>
      <li id="found-artist"><p><%= songify_cart.artist_name %></p>  <%= button_to 'change artist', '/artists', method: :get, class: 'select-btn' %></li>
    </ul>
    <%= button_to 'Songify my Code', '/results', method: :get, class: 'srch-btn'  %>
  </section>
</center>
