<!DOCTYPE html>
<html>
  <head>
    <title>CodeSongs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <% if current_user %>
      <ul>
        <li>
          <%= image_tag 'codesongs_logo1_smaller', id: 'code-songs-nav-logo'%>
        </li>
      </ul>
      <ul class="nav-links">
        <li><%= current_user.login %></li>
        <li><%= link_to 'Logout', logout_path, method: :delete %></li>
      </ul>
      <% end %>
    </nav>

    <div class='flash-message'>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: name %>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
